.centered-light-block {
  text-align: center;
  color: $gl-text-color;
  margin: 20px;
}

.nothing-here-block {
  text-align: center;
  padding: 20px;
  color: $gl-text-color;
  font-weight: $gl-font-weight-normal;
  font-size: 14px;
  line-height: 36px;

  &.diff-collapsed {
    padding: 5px;

    .click-to-expand {
      cursor: pointer;
    }
  }
}

.row-content-block {
  margin-top: 0;
  background-color: $gray-light;
  padding: $gl-padding;
  margin-bottom: 0;
  border-top: 1px solid $white-dark;
  border-bottom: 1px solid $white-dark;
  color: $gl-text-color;

  &.oneline-block {
    line-height: 42px;
  }

  &.white {
    background-color: $white-light;
  }

  &.top-block {
    border-top: none;
  }

  &.middle-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.clear-block {
    margin-bottom: $gl-padding - 1px;
    padding-bottom: $gl-padding;
  }

  &.second-block {
    margin-top: -1px;
    margin-bottom: 0;
  }

  &.footer-block {
    margin-top: 0;
    border-bottom: none;
    margin-bottom: -$gl-padding;
  }

  &.content-component-block {
    padding: 11px 0;
    background-color: $white-light;
  }

  .title {
    color: $gl-text-color;
  }

  .oneline {
    line-height: 35px;
  }

  > p:last-child {
    margin-bottom: 0;
  }

  .block-controls {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex: 1;
    flex: 1;

    .control {
      float: left;
      margin-left: 10px;
    }
  }

  &.build-content {
    background-color: $white-light;
    border-top: none;
  }

  &.top-block .container-fluid {
    background-color: inherit;
  }
}

.sub-header-block {
  background-color: $white-light;
  border-bottom: 1px solid $white-dark;
  padding: 11px 0;
  margin-bottom: 11px;

  .oneline {
    line-height: 35px;
  }

  &.no-bottom-space {
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.cover-block {
  text-align: center;
  background: $gray-light;
  padding-top: 44px;
  position: relative;

  .avatar-holder {
    .avatar,
    .identicon {
      margin: 0 auto;
      float: none;
    }

    .identicon {
      border-radius: 50%;
    }
  }

  .cover-title {
    color: $gl-text-color;
    font-size: 23px;

    h1 {
      color: $gl-text-color;
      margin-bottom: 6px;
      font-size: 23px;
    }

    .visibility-icon {
      display: inline-block;
      margin-left: 5px;
      font-size: 18px;
      color: $gray;
    }

    p {
      padding: 0 $gl-padding;
      color: $gl-text-color;
    }
  }

  .cover-desc {
    color: $gl-text-color;

    &.username:last-child {
      padding-bottom: $gl-padding;
    }
  }

  .cover-controls {
    position: absolute;
    top: 10px;
    right: 10px;

    &.left {
      left: 10px;
      right: auto;
    }
  }

  &.groups-cover-block {
    background: $white-light;
    border-bottom: 1px solid $border-color;
    text-align: left;
    padding: 24px 0;

    .group-info {
      .cover-title {
        margin-top: 9px;
      }

      p {
        margin-bottom: 0;
      }
    }

    @media (max-width: $screen-xs-max) {
      text-align: center;

      .avatar {
        float: none;
      }
    }
  }

  &.user-cover-block {
    padding: 24px 0 0;

    .nav-links {
      width: 100%;
      float: none;

      &.scrolling-tabs {
        float: none;
      }
    }

    li:first-child {
      margin-left: auto;
    }

    li:last-child {
      margin-right: auto;
    }
  }

  .group-info {

    h1 {
      display: inline;
      font-weight: $gl-font-weight-normal;
      font-size: 24px;
      color: $gl-text-color;
    }
  }
}

.block-connector {
  margin-top: -1px;
}

.nav-block {
  .controls {
    float: right;
    margin-top: 8px;
    padding-bottom: 8px;
  }
}

.content-block {
  padding: $gl-padding 0;
  border-bottom: 1px solid $white-dark;

  &.oneline-block {
    line-height: 36px;
  }

  > .controls {
    float: right;
  }

  .new-branch {
    margin-top: 3px;
  }
}

.content-block-small {
  padding: 10px 0;
}

.landing {
  margin: $gl-padding auto;
  overflow: hidden;
  display: flex;
  position: relative;
  border: 1px solid $blue-300;
  border-radius: $border-radius-default;
  background-color: $blue-50;
  justify-content: center;

  .dismiss-button {
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
    color: $blue-300;
    z-index: 1;
    border: none;
    background-color: transparent;

    &:hover,
    &:focus {
      border: none;
      color: $blue-400;
    }
  }

  .svg-container {
    align-self: center;
  }

  .inner-content {
    text-align: left;
    white-space: nowrap;

    h4 {
      color: $gl-text-color;
      font-size: 17px;
    }

    p {
      color: $gl-text-color;
      margin-bottom: $gl-padding;
    }
  }

  @media (max-width: $screen-sm-min) {
    flex-direction: column;

    .inner-content {
      white-space: normal;
      padding: 0 28px;
      text-align: center;
    }
  }
}

.empty-state {
  margin: 5% auto 0;

  .text-content {
    max-width: 460px;
    margin: 0 auto;
    padding: $gl-padding;
  }

  .emoji-icon {
    display: inline-block;
  }

  .btn {
    margin: $btn-side-margin 5px;

    @media(max-width: $screen-xs-max) {
      width: 100%;
    }
  }
}

.flex-container-block {
  display: -webkit-flex;
  display: flex;
}
